<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="#">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="#"></script></script>
    <title> Flask Index </title>
  </head>
  <body>
    <h1>HELLO WORLD</h1>
    <p>I am Bald Mike.  Follow me, as the blind leads the blind through Flask!</p>
    <ul>
        <li><a href="/projects">PROJECTS</a>
        <li><a href="/about">WHO AM I, IS WHO I AM.</a>
  </body>
</html>