<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="#"></script></script>
        <title>Landing Page - NINJAS</title>
    </head>
  <body>
    <div class="container">
        <div>
            <h1 id="greeting">HELLO WORLD!</h1>  
            <p>Welcome to the wonderful world of Flask, my friend.</p>
        </div>
        <div class = "clickBait">
            <ul>
                <li><a href='/ninjas'>Click here for NINJAS!</a></li>
                <li><a href='/dojos/new'>Click HERE for our exclusive DOJO form.</a></li>
            </<ul>
        </div>
    </div>
  </body>
</html>